.signup{
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin: auto;
    margin-top: 8.5rem;
    text-transform: uppercase;
    background-color: whitesmoke;
    padding: 75px;
    border-radius: 8px;
    box-sizing: border-box;
    z-index: 1;
}
.signup input{
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 7px;
}
.signup button{
    width: 4rem;
}
body{
    background-color:lightskyblue;
}